@import url(./style.css);

body {
    background-image: url('https://images.unsplash.com/photo-1590346328376-f21c8e5b630e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-card {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 16pt;
    list-style: disc;
}

/* li {
    list-style: disc;
} */