/* Import Benne font */
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

/* Import Merriweather font, Bold weight 700 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    font-family: 'Benne', serif;
}

h3, h5 {
    font-family: 'Merriweather', serif;
}

li {
    list-style: none;
}

.nav-links a:link {
    color: #503629;
}

.footer-links, .footer-links a {
    color: white;
}

.footer-links li {
    font-size: 16pt;
}

.bg-cocoa {
    background-color: #503728;
}

.social-icons a:hover {
  color: orangered;
  text-decoration: none;
}

.testdiv {
    background-color: orangered;
    border: 2px solid black;
}

/* list-style: none */